<div id="field-div"
     class="container"
     align="center">

    <!--<h3> this is your <i> "team" </i> </h3>-->

    <div id="player-div"
         class="player"
         dir-draggable
         default-position=defaultPosition>
        P 1
    </div>
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 2 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 3 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 4 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 5 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 6 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 7 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 8 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 9 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 10 </div>-->
    <!--<div class="player" dir-draggable default-position=defaultPosition> P 11 </div>-->

</div>