<div id="field-div"
     class="field">

    <div ng-repeat="playerSlotObj in playerSlotObjList">
        <div class="player-pos-slot"
             ng-drop="true"
             ng-drop-success="onDropSuccess($event, $data, playerSlotObj)">
            <span class="title" ng-bind="playerSlotObj.title"></span>
            <div class="player"
                 ng-show="playerSlotObj.item"
                 ng-drag="true"
                 ng-drag-data="playerSlotObj"
                 data-allow-transform="true"
                 ng-bind="playerSlotObj.item.title">
            </div>
        </div>
    </div>

</div>