<div id="field-div"
     class="drop-container field"
     align="center"
     ng-drop-success="onDropComplete($event, $data)"
     ng-drop="true">

    <div id="player1" class="player" ng-drag="true"> P 1 </div>

    <!--<h3> this is your <i> "team" </i> </h3>-->

    <!--<div id="player1" class="player" dir-draggable default-position=defaultPosition> P 1 </div>-->
    <!--<div id="player2" class="player" dir-draggable default-position=defaultPosition> P 2 </div>-->
    <!--<div id="player3" class="player" dir-draggable default-position=defaultPosition> P 3 </div>-->
    <!--<div id="player4" class="player" dir-draggable default-position=defaultPosition> P 4 </div>-->
    <!--<div id="player5" class="player" dir-draggable default-position=defaultPosition> P 5 </div>-->
    <!--<div id="player6" class="player" dir-draggable default-position=defaultPosition> P 6 </div>-->
    <!--<div id="player7" class="player" dir-draggable default-position=defaultPosition> P 7 </div>-->
    <!--<div id="player8" class="player" dir-draggable default-position=defaultPosition> P 8 </div>-->
    <!--<div id="player9" class="player" dir-draggable default-position=defaultPosition> P 9 </div>-->
    <!--<div id="player10" class="player" dir-draggable default-position=defaultPosition> P 10 </div>-->
    <!--<div id="player11" class="player" dir-draggable default-position=defaultPosition> P 11 </div>-->

</div>