body {
    background: darkred;
    color: #FFFFFF;
}

.field {
    background: green;
    border: 5px solid white;
    width: 480px;
    height: 600px;
    margin: auto;
}

.player-pos-slot {
    background: lightgreen;
    border: 2px solid black;
    text-align: center;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
}

.player {
    background: wheat;
    color: black;
    cursor: pointer;
    width: 50px;
    height: 70px;
}