body {
    background: darkred;
    color: #FFFFFF;
}

.container {
    background: green;
    color: aquamarine;
    width: 70%;
    height: 500px;
    margin: auto;
}

.player {
    background: wheat;
    color: black;
}